/* VARIABLES */

:root {
	--color-black: #000000;
	--color-dark: #444444;
	--color-light: #f7f7f7;
	--color-white: #ffffff;
	--color-1: #fcf6bd;
	--color-2: #ff99c8;
	--color-3: #e4c1f9;
	--color-4: #a9def9;
	--color-5: #d0f4de;
}

/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: var(--color-light);
	/* TYPOGRAPHY */
	font-family: "Roboto", sans-serif;
	color: var(--color-dark);
}
